/* Fondo general */
html, body {
  height: 100%; /* Asegura que el body ocupe toda la altura de la pantalla */
  margin: 0; /* Elimina el margen por defecto */
  background-color: whitesmoke;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 15px;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos la altura de la pantalla */
  display: flex;
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: flex-start; /* Asegura que el contenido se alinee desde arriba */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es más grande que la pantalla */
}


/* Panel de recursos */
.p-panel {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}



/* Estilo para el botón de recarga */
.recarga {
  background-color: rgb(5, 150, 105);
}


/* Responsive */
@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }

  .card-body {
    padding: 1.5rem;
  }

  h1 {
    font-size: 1.75rem;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .btn {
    font-size: 0.875rem;
  }
}
