<!--/home/dashboard/user-management/create-user-->
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title mb-4">Formulario creacion de usuario</h2>
          <p class="text-muted mb-4">Por favor, completa todos los campos</p>

          <form [formGroup]="createUserForm">
            <!-- Username field -->
            <div class="mb-3">
              <label for="username" class="form-label">Nombre de Usuario</label>
              <input
                type="text"
                class="form-control"
                id="username"
                formControlName="username"
              >
            </div>

            <!-- Full Name field -->
            <div class="mb-3">
              <label for="completeName" class="form-label">Nombre Completo</label>
              <input
                type="text"
                class="form-control"
                id="completeName"
                formControlName="completeName"
              >
            </div>
            <!--            Password field-->
            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input
                type="password"
                class="form-control"
                id="password"
                formControlName="password"
              >
            </div>

            <!-- Role selection -->
            <div class="mb-3" [formGroup]="createUserForm">  <!-- Asociar con el FormGroup en Angular -->
              <label class="form-label">Rol</label>
              <div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="rolStudent"
                    name="rol"
                    value="STUDENT"
                    formControlName="rol"
                  >
                  <label class="form-check-label" for="rolStudent">
                    Estudiante
                  </label>
                </div>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="radio"
                    id="rolTeacher"
                    name="rol"
                    value="TEACHER"
                    formControlName="rol"
                  >
                  <label class="form-check-label" for="rolTeacher">
                    Profesor
                  </label>
                </div>
              </div>
            </div>

            <!-- Bloque 2: Reutiliza la variable courses -->
            <div class="mb-4">
              <label class="form-label">Cursos</label>
              <div formArrayName="courses">
                @for (course of (courses$ | async); track course.courseId) {
                  <div class="form-check">
                    <input
                      class="form-check-input cursor-pointer"
                      type="checkbox"
                      [value]="course.courseId"
                      (change)="toggleCourse(course)"
                    >
                    <label class="form-check-label">{{ course.name }}</label>
                  </div>
                }
              </div>
            </div>

            <!-- Submit button -->
            <p-toast position="top-center"/>
            <button
              type="submit"
              class="btn btn-dark w-100"
              (click)="submit()"
            >
              Enviar
            </button>

            <!-- Terms and conditions -->
            <p class="text-muted small mt-3">
              Al enviar este formulario, aceptas nuestros términos y condiciones.
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
