.card-body {
  background-color: white;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3); /* Sombra sin borde externo */
  min-height: 100vh; /* Asegura que la caja tenga al menos la altura de la pantalla */
  height: 100%; /* Asegura que el contenedor ocupe el 100% de la altura disponible */
  border-radius: 8px;

}

.card-body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px; /* Mantiene los bordes redondeados sin sombra */
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3); /* Sombra */
  z-index: -1; /* Coloca la sombra detrás del contenedor */
}

/* Estilos de texto */
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

/* Asegura que los elementos del formulario ocupen todo el ancho disponible */
form {
  width: 100%;
}

/* Estilos para los campos de formulario (input, textarea, etc.) */
.form-control {
  width: 100%; /* Hace que los campos de formulario ocupen el 100% del ancho disponible */
  padding: 0.75rem; /* Ajusta el padding si es necesario */
  box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
}

/* Estilos para los archivos */
.file-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.file-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.btn-download {
  margin-left: 1rem;
}

/* Botones */
.submit-btn {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.75rem 0;
  width: 100%;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.file-upload {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 1rem;
}

.recarga {
  background-color: rgb(5, 150, 105) !important;
}
