.hover-card {
  transition: all 0.2s ease;
}

.hover-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
}

.text-truncate {
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recarga {
  background-color: rgb(5, 150, 105);
}
@media (max-width: 768px) {
  .text-truncate {
    max-width: 350px;
  }
}
