<!-- /home/dashboard -->
<div class="color">
  <!-- Encabezado con título y botón de crear -->
  <app-header></app-header>
  <app-add-header-list
    titleList="Lista de cursos"
    btnAddText="Crear curso">
  </app-add-header-list>

    <!-- Contenedor de tarjetas de cursos -->
    <div class="row">
      
      @let coursesByUserId = courses$ | async;
      @for (course of coursesByUserId; track course.courseId) {
        <div class="card shadow-sm">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <!-- Mostrar el nombre del curso -->
              <span class="course-title fs-4">{{ course.name }}</span>
              <app-pop-up></app-pop-up> <!-- Pop-up para cada tarjeta -->
            </div>
            <div class="d-flex gap-2 mt-3">
              <!-- Botón para ver tareas del curso -->
              <button [routerLink]="['task-management', course.courseId]" class="btn btn-light border">
                <i class="bi bi-list-check me-2"></i> Ver Tareas
              </button>
            </div>
          </div>
        </div>
      }
    </div>


<router-outlet></router-outlet>
