<div class="container mt-5">
  <h1 class="mb-4">Soluciones</h1>

  @let solutions = solutions$ | async;
  @for (solution of solutions; track solution.solutionId) {
    <div class="solution-item">
      <div class="solution-header">
        <h3>{{ solution?.userBasicDto.completeName }}</h3>

        <div class="d-flex align-items-center gap-3">

          <app-bcode [routerLink]="[solution.solutionId]"></app-bcode>
          <app-star></app-star>
        </div>
      </div>

      <div class="solution-content">
        <div class="row">
          @for (file of solution?.fileSolutions; track file.fileId) {
            <div
              class="col-12 col-md-6 col-lg-4  mb-2"
              [pTooltip]="file?.fileName"
              tooltipPosition="top"
              [tooltipDisabled]="true">

              <div class="file-card">
                <img
                  [src]="getFileIcon(file?.fileName)"
                  style="width: 20px; height: 20px; object-fit: cover; border-radius: 4px;"
                  alt="Icono archivo">
                <div class="file-name text-truncate">
                  <i class="far fa-file-code me-2"></i>{{ file?.fileName }}
                </div>
                <div class="file-actions">
                  <a (click)="downloadFile(file?.prefix, file?.fileName)" class="btn rounded btn-sm cursor-pointer">
                    <i class="bi bi-download"></i>
                  </a>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  }
</div>
