<div class="f">
<nav class="nav">
  <div class="nav-container">
    <a class="logo">
      <div class="logo-box">
        <div class="logo-content">
          <span>CODE</span>
          <span>PASS</span>
          <span class="underscores">-       -       -</span>
        </div>
      </div>
    </a>
    <!-- Obtener usuario del observable -->
    <ng-container *ngIf="currentUser$ | async as user">
      <!-- Mostrar imagen y nombre según el rol del usuario -->
      <div class="user-info">
        <ng-container *ngIf="user?.rol === 'STUDENT'">
          <img src="/assets/icons/estudiante.png" class="user-icon"/>
          <span class="name-user">{{ user?.completeName }}</span>
        </ng-container>
        <ng-container *ngIf="user?.rol === 'TEACHER'">
          <img src="/assets/icons/profesor.png" class="user-icon"/>
          <span class="name-user">{{ user?.completeName }}</span>
        </ng-container>
      </div>

      <div class="nav-menu">
        <div class="nav-item">
          <a class="nav-link" [routerLink]="['/home/dashboard']">Inicio</a>
        </div>

        <!-- Solo mostrar para profesores -->
        <ng-container *ngIf="user?.rol === 'TEACHER'">
          <div class="nav-item">
            <span class="divider">|</span>
            <a class="nav-link" [routerLink]="['/home/dashboard/user-management']">Gestión de Usuarios</a>
          </div>
        </ng-container>

        <div class="nav-item">
          <span class="divider">|</span>
          <p-menubar [class]="'nav-link'"
                     [style]="{'color':'var(--primary-color-nav)','height':'20px','background-color':'black', 'border':'none', 'margin':'0px', 'padding':'0px'}"
                     [model]="items"/>
        </div>
      </div>
    </ng-container>
  </div>
</nav>

<!-- Modal para cambio de contraseña -->
<ng-container *ngIf="visible">
  <div class="card flex justify-content-center">
    <form [formGroup]="changePasswordForm">
      <p-dialog header="Actualizar contraseña"
                [modal]="true"
                [(visible)]="visible"
                [style]="{ width: '30rem' }">
        <div class="p-fluid">
          <!-- Contraseña actual -->
          <div class="field mb-4">
            <label for="currentPassword">Contraseña actual</label>
            <input formControlName="currentPassword"
                   pInputText
                   id="currentPassword"
                   type="password"
                   autocomplete="off"/>
          </div>

          <!-- Nueva contraseña -->
          <div class="field mb-4">
            <label for="newPassword">Nueva contraseña</label>
            <input formControlName="newPassword"
                   pInputText
                   id="newPassword"
                   type="password"
                   autocomplete="off"/>
          </div>

          <!-- Botones -->
          <div class="flex justify-content-end">
            <p-button label="Cancelar"
                      styleClass="p-button-cancel"
                      (click)="visible = false"></p-button>
            <p-button label="Guardar"
                      styleClass="p-button-save"
                      (click)="changePassword()"></p-button>
          </div>
        </div>
      </p-dialog>
    </form>
  </div>
</ng-container>

<router-outlet></router-outlet>
<app-footer></app-footer>

</div>
