<div class="login-container">
  <!-- Sección Izquierda -->
  <div class="left-content">
      <div class="illustration-container">
          <img src="assets/imagenes/log.jpg" class="illustration">
      </div>
  </div>

  <!-- Sección Derecha -->
  <div class="login-box">
      <img src="assets/icons/logo.png" alt="Logo" class="logo" />
      <h1>Iniciar Sesión</h1>
      <form [formGroup]="loginForm">
          <div class="form-group">
            <app-input-login id="usuario" placeholder="Ingresa tu correo" label="Usuario"></app-input-login>
          </div>
          <div class="form-group">
            <app-input-login type="password" id="contraseña" placeholder="Ingresa tu correo" label="Contraseña"></app-input-login>
          </div>
          <app-login-button type="submit" class="btn-login" (click)="logIn()"></app-login-button>
      </form>
  </div>
</div>