<div class="login-container">
  <!-- Sección Izquierda -->
  <div class="left-content">
      <div class="illustration-container">
          <img src="assets/imagenes/log.jpg" class="illustration">
      </div>
  </div>

  <!-- Sección Derecha -->
  <div class="login-box">
      <img src="assets/icons/logo.png" alt="Logo" class="logo" />
      <h1>Iniciar Sesión</h1>
      <form [formGroup]="loginForm">
          <div class="form-group">
            <app-input-login [form]="loginForm" [id]="'username'" label="Usuario"></app-input-login>
          </div>
        <div class="form-group">
          <p-floatlabel variant="on">
            <app-input-contra [form]="loginForm" [id]="'password'" label="Contraseña"></app-input-contra>
          </p-floatlabel>
        </div>

        <app-login-button type="submit" class="btn-login" (click)="logIn()"></app-login-button>
      </form>
  </div>
</div>
