/* Personaliza el color del mensaje de éxito */
.p-toast .p-toast-message.p-toast-message-success {
  background-color: #56d97b; /* Azul */
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Personaliza el color del mensaje de error */
.p-toast .p-toast-message.p-toast-message-error {
  background-color: #F44336; /* Rojo */
  color: white;
}

/* Personaliza el color del mensaje de advertencia */
.p-toast .p-toast-message.p-toast-message-warn {
  background-color: #FF9800; /* Naranja */
  color: white;
}

/* Personaliza el color del mensaje de información */
.p-toast .p-toast-message.p-toast-message-info {
  background-color: #56d97b; /* Azul */
  color: black;
}
