.cursor-pointer {
  cursor: pointer;
}

/* Personaliza el color del mensaje de éxito */
.p-toast .p-toast-message.p-toast-message-success {
  background-color: #56d97b; /* Azul */
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Personaliza el color del mensaje de error */
.p-toast .p-toast-message.p-toast-message-error {
  background-color: #F44336; /* Rojo */
  color: white;
}

/* Personaliza el color del mensaje de advertencia */
.p-toast .p-toast-message.p-toast-message-warn {
  background-color: #FF9800; /* Naranja */
  color: white;
}

/* Personaliza el color del mensaje de información */
.p-toast .p-toast-message.p-toast-message-info {
  background-color: #56d97b; /* Azul */
  color: black;
}


/* Estilo para el contenedor principal del diálogo */
.p-dialog {
  background-color: #ffffff!important;  /* Fondo del diálogo */
  color: black;
}

/* Estilo para el encabezado */
.p-dialog-title {
  color: #c73a3a;  /* Color del título */
  font-weight: bold !important;  /* Estilo de fuente */
}

/* Cambiar el estilo del mensaje */
.p-confirmdialog-message {
  color: #333 ;            /* Cambia el color del texto */
}
/* Cambiar color del icono */
.p-confirmdialog-icon {
  color: black !important;  /* Color del icono (azul en este caso) */
}

/* Estilo para el fondo del mensaje */
.p-confirmdialog-message.ng-star-inserted {
  background-color: #f9f9f9;
}

/* Estilo para el botón de rechazar */
.p-button-secondary {
  color: #333 ;
}

